<template>
  <div id="cartItem">
    <div style=" display: flex; ">
      <p style="margin: 5px">{{ cartItem.title }}</p>
      <button style="margin: 5px"> + </button>
      <p style="margin: 5px">  {{ cartItem.quantity }}  </p>
      <button style="margin: 5px"> - </button>
    </div>
  </div>
</template>

<script>
export default {
  props: [
    'cartItem'
  ]
}
</script>
