<template>
  <div id="cartPanel" style=" width: 300px; ">
    <p><button @click="onCartPanelClosed">X</button></p>
    <cart-item v-for="(item, index) in checkout.lineItems" :key="index" :cartItem="item"></cart-item>
    <div id="total">
      <p>Subtotal {{ checkout.subtotalPrice }}</p>
      <p>Taxes {{ checkout.totalTax }}</p>
      <p>Total {{ checkout.totalPrice }}</p>
    </div>
    <button>Checkout</button>
  </div>
</template>

<script>
import CartItem from './CartItem.vue'
export default {
  components: {
    'cart-item': CartItem
  },
  sockets: {
    UPDATE_CHECKOUT: function (checkout) {
      // console.log('Cart Panel: ', checkout)
      this.checkout = checkout
    }
  },
  computed: {
  },
  data: function () {
    return {
      checkout: {}
    }
  },
  methods: {
    onCartPanelClosed: function () {
      // this.$socket.emit('HIDE_CART_PANEL')
    },
    onCartUpdated: function () {
    }
  }
}
</script>
