<template>
  <div id="demo">
    <header>
      <h1>{{ shop.name }}</h1>
      <h3>{{ shop.description }}</h3>
    </header>
    <div style="display: flex;">
      <div id="product-display">
        <div v-for="(product, index) in productList" :key="index" class="single-product" style=" margin: 10px; display: flex;">
          <p style="margin: auto 5px;">{{ product.title }}</p>
          <button @click="onAddToCartBtnClicked(product)">Add to Cart</button>
        </div>
      </div>
      <div id="cart-display">
        <p v-for="(lineItem, index) in checkout.lineItems" :key="index">
          <span>{{ lineItem.title }}: <button @click="onIncrementLineItem(lineItem)">+</button> {{ lineItem.quantity }} <button @click="onDecrementLineItem(lineItem)">-</button> ${{ lineItem.variant.price * lineItem.quantity }} <button @click="onRemoveLineItem(lineItem)">x</button></span>
        </p>
        <p>Subtotal: {{ checkout.subtotalPrice }}</p>
        <p>Tax: {{ checkout.totalTax }}</p>
        <p>Total: {{ checkout.totalPrice }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data: function () {
    return {
      shop: {},
      productList: [],
      checkout: {}
    }
  },
  sockets: {
    UPDATE_CHECKOUT: function (checkout) {
      this.checkout = checkout
    }
  },
  created: function () {
    axios({
      method: 'get',
      url: 'http://localhost:3000'
    }).then((res) => {
      this.shop = res.data.shop
      this.productList = res.data.productList.slice(0, 4)
      this.checkout = res.data.checkout
    }).catch((err) => {
      console.log(err)
    })
  },
  methods: {
    onAddToCartBtnClicked: function (product) {
      let checkoutId = this.checkout.id
      let variantOptions = {quantity: 1, productId: product.id}
      product.options.forEach((selectingOption) => {
        variantOptions[selectingOption.name] = selectingOption.values[0].value
      })

      axios({
        method: 'post',
        url: `http://localhost:3000/add-line-items/${checkoutId}`,
        data: variantOptions
      }).then((res) => {
        this.checkout = res.data.updatedCheckout
      }).catch((err) => {
        console.log(err)
      })
    },
    onIncrementLineItem: function (lineItem) {
      let currentQuantity = lineItem.quantity
      let checkoutId = this.checkout.id
      axios({
        method: 'post',
        url: `http://localhost:3000/increment-line-item/${checkoutId}`,
        data: {lineItemId: lineItem.id, currentQuantity: currentQuantity}
      }).then((res) => {
        this.checkout = res.data.updatedCheckout
      }).catch((err) => {
        console.log(err)
      })
    },
    onDecrementLineItem: function (lineItem) {
      let currentQuantity = lineItem.quantity
      let checkoutId = this.checkout.id
      axios({
        method: 'post',
        url: `http://localhost:3000/decrement-line-item/${checkoutId}`,
        data: {lineItemId: lineItem.id, currentQuantity: currentQuantity}
      }).then((res) => {
        this.checkout = res.data.updatedCheckout
      }).catch((err) => {
        console.log(err)
      })
    },
    onRemoveLineItem: function (lineItem) {
      let checkoutId = this.checkout.id
      axios({
        method: 'post',
        url: `http://localhost:3000/remove-line-item/${checkoutId}`,
        data: {lineItemId: lineItem.id}
      }).then((res) => {
        this.checkout = res.data.updatedCheckout
      }).catch((err) => {
        console.log(err)
      })
    }
  }
}
</script>
