<template>
  <div id="home" style=" margin-top: 60px; ">
    <div id="header">
      <h1>{{ shop.name }}</h1>
      <h3>{{ shop.description }}</h3>
    </div>
    <div id="body" style=" display: flex; ">
      <products :productList="productList" per-row="3" :checkoutId="checkout.id">
        <template slot="product" slot-scope="product">
          <product :productInfo="product.productObj" :checkoutId="product.checkoutId"></product>
        </template>
      </products>
      <cart-panel :checkoutObj="checkoutObj"></cart-panel>
    </div>
  </div>
</template>

<script>
import Products from './Products.vue'
import Product from './Product.vue'
import CartPanel from './CartPanel.vue'
import axios from 'axios'
export default {
  components: {
    'products': Products,
    'product': Product,
    'cart-panel': CartPanel
  },
  sockets: {
    SHOW_CART_PANEL: function () {
      this.isCartOpened = true
    },
    HIDE_CART_PANEL: function () {
      this.isCartOpened = false
    },
    UPDATE_CHECKOUT: function (checkout) {
      this.checkoutObj = checkout
    }
  },
  data: function () {
    return {
      shop: {},
      productList: [],
      checkout: {},
      isCartOpened: false,
      checkoutObj: {}
    }
  },
  created: function () {
    axios({
      method: 'get',
      url: 'http://localhost:3000'
    }).then((res) => {
      this.shop = res.data.shop
      this.productList = res.data.productList
      this.checkout = res.data.checkout
    }).catch((err) => {
      console.log(err)
    })
  }
}
</script>
