<template>
  <div id="product">
    <img :src="productInfo.images[0].src"
         style="width: 100PX;"/>
    <p>{{productInfo.title}}</p>
    <p>${{ productInfo.variants[0].price }}</p>
    <div v-for="option in productInfo.options"
         :key="option.name">
      <p style="display: block; margin: 0 auto;">{{ option.name }}</p>
      <select v-model="optionValues[option.name]">
        <option v-for="value in option.values"
                :key="value.value">
          {{ value.value }}
        </option>
      </select>
    </div>
    <p style="display: block; margin: 0 auto;">Quantity</p>
    <b-form-input type="number" v-model="optionValues['quantity']"></b-form-input>
    <b-button @click="onAddToCartBtnClicked(optionValues)">Add to Cart</b-button>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data: function () {
    let optionValues = {}
    this.productInfo.options.forEach((option) => {
      optionValues[option.name] = option.values[0].value
    })
    optionValues['quantity'] = 1
    optionValues['checkoutId'] = this.checkoutId
    return {
      optionValues
    }
  },
  props: [
    'productInfo',
    'checkoutId'
  ],
  methods: {
    onAddToCartBtnClicked: function (optionValues) {
      axios({
        method: 'post',
        url: `http://localhost:3000/add-line-items/${this.productInfo.id}`,
        data: optionValues
      })
    }
  }
}
</script>

<style scoped>
#product {
  margin: 5px;
}
</style>
