<template>
  <div id="products">
    <b-container>
      <b-row v-for="i in Math.ceil(productList.length / perRow)" :key="i">
        <b-col :cols="12 / perRow" v-for="(product, index) in productList.slice((i-1) * perRow, i * perRow)" :key="index">
          <slot name="product" :productObj="product" :checkoutId="checkoutId"></slot>
        </b-col>
      </b-row>
    </b-container>
    {{ numberOfCol }}
  </div>
</template>

<script>
export default {
  data: function () {
    return {
    }
  },
  props: [
    'productList',
    'perRow',
    'checkoutId'
  ],
  computed: {
    numberOfCol: function () {
      let length = this.productList.length
      return Math.floor(length / this.perRow)
    }
  }
}
</script>
